html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $c-text;
  font-family: "roboto", sans-serif;
}

ul {
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $c-text;
  cursor: pointer;
}
